* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
}

html, body {
    width: 100%;
}

h1,h2, h3, h4, h5, p, label, li, td, th, input, select, textarea {
    font-family: Verdana, Arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}
h1,h2, h3, h4, h5 {
    color: #ffffff;
    text-transform: uppercase;
}
h1  {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 32px;
}
h2  {
    font-size: 20px;
    line-height: 26px;
}
h3  {
    font-size: 16px;
    line-height: 21px;
}






body {
    background-color: #1e2b35;
}
body > div {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 3%;
    margin-right: 33%;
}









table {
    width: 100%;
    border-spacing : 0;
    border-collapse : collapse;
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}
table tr > td {
    padding: 10px;
}

table > thead > tr {
    background-color: rgba(255, 255, 255, 0.5);
}
table > thead > tr > td {
    width: 16%;
    text-align: center;
    font-weight: bold;
}
table > thead > tr > td.edit,
table > thead > tr > td.suppr{
    width: 10%;
}
table > tbody > tr {
    background-color: rgba(255, 255, 255, 0.8);
}
table > tbody > tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.9);
}
table > tbody > tr.blue {
    color: #ffffff;
    background-color: #2486b3;
}
table > tbody > tr > td.edit,
table > tbody > tr > td.suppr{
    text-align: center;
}



form {
    border-radius: 5px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
}
form > label {
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 15px;
    color: #ffffff;
}
form > label > input[type="text"],
form > label > input[type="tel"],
form > label > input[type="email"],
form > label > select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
form > label > input[type="text"]:focus,
form > label > input[type="tel"]:focus,
form > label > input[type="email"]:focus,
form > label > select:focus {
    background-color: rgba(255, 255, 255, 1);
}
form > input[type="submit"] {
    clear: both;
    display: block;
    margin-left: auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #2a9dd2;
    color: #ffffff;
    text-transform: uppercase;
}
form > input[type="submit"]:hover {
    background-color: #2486b3;
}